* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /* outline: 1px red solid; */
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #add8e6;
    color: #fff;
}

.container {
    display: grid;
    grid-template-areas: "header header header" "info_izq info_der info_der";
    width: 100%;
    max-width: 1000px;
    margin: 40px;
    box-shadow: 0 35px 55px rgba(0, 0, 0, 0.1);
}

.container .info__izq {
    grid-area: info_izq;
    position: relative;
    padding: 40px;
    background-color: #003147;
}

.foto__info {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.foto__info .img__box {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}

.foto__info .img__box img {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.foto__info h1 {
    margin-top: 20px;
    font-size: 1.5em;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.4em;
}

.foto__info h1 span {
    font-size: 1rem;
    font-weight: 300;
}

.contacto__info {
    padding-top: 40px;
}

.titulo {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.3rem;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.contacto__info ul {
    position: relative;
}

.contacto__info ul li {
    margin: 10px 0;
    list-style: none;
}

.contacto__info ul li .icon {
    display: inline-block;
    width: 30px;
    font-size: 1.2rem;
    color: #03a9f4;
}

a {
    text-decoration: none;
}

a, .text {
    color: #fff;
    font-weight: 300;
}

.contacto__info.formacion li {
    margin-bottom: 15px;
}

.periodo {
    color: #03a9f4;
    font-weight: 600;
    font-size: 0.83rem;
}

.entidad {
    font-weight: 300;
}

.epigrafe {
    font-weight: 600;
    font-size: 1.1rem;
}

.contacto__info.idioma .percent {
    position: relative;
    width: 100%;
    height: 6px;
    background-color: #081921;
    display: block;
    margin-top: 5px;
}

.contacto__info.idioma .percent div {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #03a9f4;
}

.container .info__der {
    grid-area: info_der;
    position: relative;
    background-color: #fff;
    padding: 40px;
}

.perfil {
    margin-bottom: 50px;
}

.perfil:last-child {
    margin-bottom: 0;
}

.titulo__2 {
    margin-bottom: 10px;
    color: #003147;
    font-size: 1.3rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.perfil p {
    color: #333;
}

.perfil .box {
    display: flex;
    flex-direction: row;
    margin: 20px 0;
}

.perfil .box .anio__cia {
    min-width: 150px;
}

.perfil .box .anio__cia .periodo {
    color: #848c90;
}

.perfil .box .text .epigrafe {
    color: #2a7da2;
}

.exp .box {
    position: relative;
    display: grid;
    grid-template-columns: 150px 1fr;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.exp .box .epigrafe {
    color: #848c99;
    font-weight: 600;
}

.exp .box .percent {
    width: 100%;
    height: 10px;
    background-color: #848c90;
}

.exp .box .percent div {
    top: 0;
    left: 0;
    height: 100%;
    background-color: #03a9f4;
}

.intereses ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.intereses ul li {
    margin: 10px 0;
    list-style: none;
    color: #333;
    font-weight: 500;
}

.intereses ul li .fa {
    width: 20px;
    font-size: 1.2rem;
    color: #03a9f4;
}

@media screen and (max-width: 1000px) {
    .container {
        margin: 10px;
        grid-template-areas: "header" "info_izq" "info_der";
    }

    .intereses ul {
        grid-template-columns: repeat(2, 1fr);
    }
}


@media screen and (max-width: 600px) {
    
    .container {
        margin-top: 45px;
    }

    
    .perfil .box {
        flex-direction: column;
    }

    .perfil .box .anio__cia {
        min-width: 150px;
        margin-bottom: 5px;
    }

    .exp .box {
        grid-template-columns: repeat(1, 1fr);
    }

    .intereses ul {
        grid-template-columns: repeat(1, 1fr);
    }
}